# Latihan 1

In [1]:
import pandas as pd 
#silahkan di import package lain jika diperlukan

In [2]:
#gunakan url file ini untuk menjawab latihan part 1
link_boston = "https://github.com/mofdac/-materi-das/blob/main/01.%20Python%20for%20DA/latihan/Boston_Housing.xlsx?raw=true"
boston = pd.read_excel(link_boston)
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

## 1. Tampilkan Informasi Statistik Seperti Mean, Median,Std, dll dari dataset diatas

## 2. Apa saja tipe data yang ada dari dataframe diatas

## 3.  Terdapat Berapa Kolom di data diatas ?

## 4. Kolom manakah yang memiliki standar deviasi paling tinggi ?

## 5. Buat copy dataframe boston menjadi dataframe baru yang diberi nama top_boston. Ketentuannya ambil baris dengan nilai kolom "CRIM" 10 Terbesar. Tampilkan hanya Kolom "CRIM, DIS, MEDV, dan LSTAT" saja

# Latihan 2 
Sumber data : Sales_June_2019.csv dan Sales_July_2019.csv

In [9]:
sales_june = "https://raw.githubusercontent.com/mofdac/-materi-das/main/01.%20Python%20for%20DA/latihan/Sales_June_2019.csv"
sales_july = "https://raw.githubusercontent.com/mofdac/-materi-das/main/01.%20Python%20for%20DA/latihan/Sales_July_2019.csv"

In [10]:
sales_june = pd.read_csv(sales_june)
sales_july = pd.read_csv(sales_july)
print(sales_june.shape)
display(sales_june.head())
print(sales_july.shape)
display(sales_july.head())

(13622, 6)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,209921,USB-C Charging Cable,1,11.95,06/23/19 19:34,"950 Walnut St, Portland, ME 04101"
1,209922,Macbook Pro Laptop,1,1700.0,06/30/19 10:05,"80 4th St, San Francisco, CA 94016"
2,209923,ThinkPad Laptop,1,999.99,06/24/19 20:18,"402 Jackson St, Los Angeles, CA 90001"
3,209924,27in FHD Monitor,1,149.99,06/05/19 10:21,"560 10th St, Seattle, WA 98101"
4,209925,Bose SoundSport Headphones,1,99.99,06/25/19 18:58,"545 2nd St, San Francisco, CA 94016"

(14371, 6)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,222910,Apple Airpods Headphones,1,150,07/26/19 16:51,"389 South St, Atlanta, GA 30301"
1,222911,Flatscreen TV,1,300,07/05/19 08:55,"590 4th St, Seattle, WA 98101"
2,222912,AA Batteries (4-pack),1,3.84,07/29/19 12:41,"861 Hill St, Atlanta, GA 30301"
3,222913,AA Batteries (4-pack),1,3.84,07/28/19 10:15,"190 Ridge St, Atlanta, GA 30301"
4,222914,AAA Batteries (4-pack),5,2.99,07/31/19 02:13,"824 Forest St, Seattle, WA 98101"

## 6. Gabungkan kedua data diatas

## 7.  Tanggal berapakah Sales Tertinggi (Nilai Jual) pada Bulan Juni dan Juli

## 8. Tampilkan 10 produk dengan Nilai Penjualan Tertinggi Juni s.d. Juli

## 9. Tampilkan 10 Kota Dengan Order terbanyak Juni s.d. Juli

## 10. Simpan Data yang sudah difilter pada no 8 menjadi file excel baru