# Pengantar

## progress check

Cross-Industry Standard Process for Data Mining (CRISP-DM)
<img src="https://www.datascience-pm.com/wp-content/uploads/2021/02/CRISP-DM.png" width="400"/>
source : <a href="www.datascience-pm.com">www.datascience-pm.com</a>

Data Science Venn Diagram
<img src="https://thedatascientist.com/wp-content/uploads/2019/03/data_science_venn_diagram.png" width="400"/>
source : <a href="thedatascientist.com">thedatascientist.com</a>

## nbextension

install nbextensions jupyter notebook :

1. install python package jupyter_contrib_nbextensions <br/>
	buka anaconda prompt <br/>
	cek versi pip : pip --version <br/>
	jalankan : pip install jupyter_contrib_nbextensions <br/> <br/>

2. install js dan css file <br/>
	buka anaconda prompt <br/>
	cek versi jupyter --version <br/>
	jalankan : jupyter contrib nbextensions install (--user) <br/> <br/>

3. enable nbextension <br/>
	jalankan : jupyter nbextension enable codefolding/main (--user) <br/> <br/>

4. hasilnya : nbextensions di folder root jupyter notebook <br/> <br/>

5. uncheck disable configurations > pilih yang mana extensions yang mau dipakai <br/>
	contoh : skip traceback, execute time, table of content 2, hinterland

## fstring

In [ ]:
# A = 17
# print("Usia saya" + A)

In [ ]:
A = 17
B = 20

C = "usia anak-anak budi %s, %s, %s dan %s, sedangkan usia anak-anak anton %s, %s, %s dan %s " % (A,B,A,B,A,B,A,B)
print(C)

In [ ]:
A = 17
B = 20

C = f"usia anak-anak budi {A} {B} {A} {B}, sedangkan usia anak-anak anton {A} {B} {A} {B}"
print(C)

f-string:
- since python 3.6
- easier to read than old style <code>"Hello, %s %s. You are %s. You are a %s. You were a member of %s." % (first_name, last_name, age, profession, affiliation)</code>
- easier to read than old style <code>"Hello, {}. You are {}.".format(name, age)</code>
- sintaks : <code>f"{37}" or f"{to_lowercase(name)} is funny."</code>
- source: <a href="https://realpython.com/python-f-strings/">realpython.com</a>

## Python best practice

Best Practice: 
- Write Object-Oriented Code
- Use Virtual Environments
- Write Readable Code
- Use the Right Data Structures
- Use the (Python Package Index) PyPI Instead of Doing it Yourself
- Create version control
- Create Readable Documentation. ex : Docstrings
- Follow Python Enhancement Proposals [PEP](https://peps.python.org/pep-0008/#code-lay-out) - these are guidelines and standards for development

## Libraries

> Merupakan sekumpulan modul, function, object yang didistribusikan untuk dapat digunakan secara luas.

### Install libraries

Cara umum untuk menginstall library pihak ketiga bisa menggunakan perintah:

```pip``` install ```nama_library```

```!pip``` install ```nama_library``` (dalam jupyter notebook)

### Cara memanggil library

> Untuk menggunakan sebuah library kita perlu melakukan import

```python
import math

math.pi
```

# Pandas for Data Analysis

## About Pandas

about :

- Library di Python yang menyediakan struktur data dan analisis data yang mudah digunakan. 
- [Pandas](https://pandas.pydata.org/) biasa digunakan untuk membuat tabel
- merubah data (list, dictionary, numpy array) menjadi table
- mengubah dimensi data, mengecek data, dan lain sebagainya. 
- Dokumentasi [Pandas API Referencee](https://pandas.pydata.org/docs/reference/).
- It is free software released under the three-clause BSD license
- The name is derived from the term "panel data" 
- Wes McKinney started building what would become pandas at AQR Capital while he was a researcher there from 2007 to 2010

# Pandas Usage

General usage:
- Loading and saving data
- Data cleansing
- Data fill
- Data Selection
- Merges and concat
- Data visualization
- Statistical analysis
- Data manipulation

## Rekomendasi bacaan

1. Video Youtube MOFDAC
2. https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf
3. https://www.enthought.com/wp-content/uploads/Enthought-Python-Pandas-Cheat-Sheets-1-8-v1.0.2.pdf

## Import Pandas

Notes:
- sebelum menggunakan pandas kita harus memastikan apakah pandas sudah terinstall di sistem kita
- jika belum terinstall kita bisa menggunakan pip install pandas pada command prompt kita
- sebelum menggunakan pandas kita harus memanggil/mengimport library pandas

In [ ]:
#kita akan mengimport library pandas
#kita akan memberikan nama lain yaitu pd yang artinya kita bisa memanggil pandas dengan pd
import pandas as pd

pd.options.display.max_colwidth = 1000
pd.options.display.max_columns = 1000
pd.options.display.float_format = "{:,.2f}".format

##  Series dan DataFrame

sebelum kita berekplorasi lebih jauh dengan pandas kita perlu mengenal tipe struktur data pada pandas. pada pandas ada 2 struktur data yaitu
- **series**
- **dataframe**

### Series

<img src="">

In [ ]:
list_nama = ['Budi','Zainudin','Leonardo','Gwenn','Peter','Peter']

In [ ]:
series_nama = pd.Series(list_nama, name='nama_mahasiswa')
print(series_nama)

* Budi, Zainudin, dll adalah value dari series_nama
* Angka 0, 1, 2, 3, 4 di sebelah kiri adalah index dari series_nama
* untuk dapat melihat nama pada series kita dapat memanggil atribut .name
* untuk dapat melihat index pada series kita dapat memanggil atribut .index

#### name

In [ ]:
series_nama.name

#### index

In [ ]:
series_nama.index

* kita juga dapat menentukan atau mengubah index sesuai yang kita inginkan
* perhatikan bahwa panjang data index harus sama dengan data seriesnya

In [ ]:
nama_index = ['a', 'b', 'c', 'd', 'e','f']
series_nama = pd.Series(data=list_nama, index=nama_index)
series_nama

In [ ]:
#misal kita sudah membuat sebuat series namun kita ingin mengubah index yang ada
index_baru = ['a1','a2','a3','a4','a5','a6']
series_nama.index = index_baru
series_nama

#### Value

In [ ]:
#kita bisa memanggil seluruh values dari series_nama dengan atribut .values
series_nama.values

#### Method dan Atribut lainnya

In [ ]:
#beberapa atribut pada pandas Series
# 1. melihat values dari series
print(series_nama.values)
# 2. melihat index dari series
print(series_nama.index)
# 3. melihat tipe data dari series
print(series_nama.dtypes)
# 4. melihat ukuran dari series
print(series_nama.size)

In [ ]:
#jika data kategorikal maka dia akan menunjukan data sebagai berikut
series_nama.describe()

In [ ]:
# Nilai unik dari series_nama
print(f"Nilai unik = {series_nama.unique()}")

# Banyak nilai unik dari series_nama
print(f"Nilai unik = \n{series_nama.value_counts()}")

In [ ]:
# kita akan membuat contoh lain untuk data numerical
# numpy (numerical Python) library used for working with arrays, linear algebra, fourier transform, and matrices

import numpy as np
angka = np.random.randint(100, size=6) 
series_angka = pd.Series(angka)
print(series_angka)

In [ ]:
#kita coba juga atribut yang telah kita pelajari
# 1. melihat values dari series
print(series_angka.values)
# 2. melihat index dari series
print(series_angka.index)
# 3. melihat tipe data dari series
print(series_angka.dtypes)
# 4. melihat ukuran dari series
print(series_angka.size)

In [ ]:
#jika data numerikal maka dia akan menunjukan data sebagai berikut
series_angka.describe()

In [ ]:
#selain itu kita bisa menggunkan beberapa method lain 
print(f'Nilai Total : {series_angka.sum()}')
print (f'Angka tertinggi : {series_angka.max()}')
print (f'Angka tertinggi : {series_angka.min()}')
print (f'Mean : {series_angka.mean()}')
print (f'Median : {series_angka.median()}')

#### Operasi Dasar

In [ ]:
#kita akan gunakan series yang sudah ada yaitu series_nama
series_nama

In [ ]:
#ketika kita ingin memanggil suatu values kita dapat gunakan indexnya
series_nama['a1']

In [ ]:
#jika kita ingin menambahkan data pada series maka kita dapat lakukan
series_nama['a7'] = 'Suci'
series_nama

In [ ]:
#untuk merubah value dari suatu index kita dapat lakukan
series_nama['a5'] = 'Susanto'
series_nama

In [ ]:
#untuk menghapus salah satu value maka kita dapat lakukan
del series_nama['a3']
series_nama

#### Latihan 1

1. Buat sebuah series dengan nama Populasi yang berisi data berikut
| index | Values |
| :-: | :-- |
|Jakarta| 10.6|
|Bandung|1.4|
|Medan|2.1|

2. tambahkan data Surabaya dengan populasi 2.8
3. ternyata data Bandung salah seharusnya 2.4
4. cari rata2 penduduk pada wilayah di series

In [ ]:
# membuat series dengan nama variable populasi_sr


print(populasi_sr)

In [ ]:
# update data series dan menambah baris



print(populasi_sr)
print("Rata-rata :", )

### Dataframe

* DataFrame dari Pandas adalah struktur data 2-dimensi yang berbentuk tabular (memiliki baris dan kolom)
* DataFrame adalah kumpulan Series
* Axis 0 == Index, Axis 1 == Column

<img src="https://petruknisme.com/wp-content/uploads/2019/04/series-and-dataframe.width-1200.png">

In [ ]:
data = {
    'COUNTRY':['China','India','US','Indonesia','Brazil'],
    'GDP':[12_234.78,2_575.67,19_485.39,1_015.54,2_055.51],
    'POP':[1_398.72,1_351.16,329.74,268.07,210.32]
}

In [ ]:
df = pd.DataFrame(data=data)
df

##  Read Data

In [ ]:
# flight csv
link_airtravel = "https://raw.githubusercontent.com/mofdac/-materi-das/main/01.%20Python%20for%20DA/airtravel.csv"

# semicolon separated value
link_airtravel2 = "https://raw.githubusercontent.com/mofdac/-materi-das/main/01.%20Python%20for%20DA/airtravel_2.csv"

# excel
link_airtravel3 = "https://github.com/mofdac/-materi-das/blob/main/01.%20Python%20for%20DA/airtravel_3.xlsx?raw=true"

# US population csv
link_population = "https://raw.githubusercontent.com/mofdac/-materi-das/main/01.%20Python%20for%20DA/america_population.csv"

# fruit json
link_json = "https://raw.githubusercontent.com/mofdac/-materi-das/main/01.%20Python%20for%20DA/example_1.json"

# exchange rate json
link_json2 = "https://api.exchangerate-api.com/v4/latest/USD"

# titanic csv
link_titanic = "https://raw.githubusercontent.com/mofdac/-materi-das/main/01.%20Python%20for%20DA/titanic.csv"

### CSV

> Untuk membaca file csv gunakan perintah **pd.read_csv("lokasi file")**

In [ ]:
# df_airtravel = pd.read_csv("airtravel.csv")
df_airtravel = pd.read_csv(link_airtravel)

In [ ]:
df_airtravel.head()

#### Import dengan memilih kolom tertentu

In [ ]:
# certain columns
# df_airtravel_ = pd.read_csv(link_airtravel, usecols = ["Month","1960"])
df_airtravel_ = df_airtravel_[["Month","1960"]]
df_airtravel_.head()

#### import dengan separator

In [ ]:
# pada file airtravel_2.csv digunakan tanda pemisah ;
# jika kita langsung membuakanya maka hasilnya akan seperti
df_airtravel2 = pd.read_csv(link_airtravel2)
df_airtravel2.head()

In [ ]:
df_airtravel2 = pd.read_csv(link_airtravel2, sep=';')
df_airtravel2.head()

> list parameter lebih lanjut dapat dilihat di https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html#pandas.read_csv

### Excel

> terkadang kita juga menemukan data yang berextensi .xls atau .xlsx maka kita bisa membukanya dengan **pd.read_excel**

In [ ]:
df_airtravel_3 = pd.read_excel(link_airtravel3)
df_airtravel_3.head()

### JSON

* JSON adalah singkatan dari JavaScript Object Notation.
* JSON adalah turunan JavaScript yang digunakan dalam transfer dan penyimpanan data.

<img src="https://idcloudhost.com/wp-content/uploads/2021/03/Screenshot-2021-03-30-151455.jpg" width=500>

In [ ]:
# read json
df = pd.read_json(link_json2)
df.head()

### Summarizing Data

Untuk melihat secara sekilas DataFrame yang kita buat, dapat menggunakan function berikut:

| Function | Penjelas |
| :-: | :-- |
| head() dan tail()| Mengakses baris awal dan akhir DataFrame |
| sample()| Memilih data secara acak |
| nlargest(n, column)| Memilih beberapa data teratas yang sudah diurutkan dari suatu column | 
| nsmallest(n, column)| Memilih beberapa data terbawah yang sudah diurutkan  dari suatu column |

Selain melihat secara sekilas, kita juga bisa mengetahui informasi terkait DataFrame dengan function berikut:

| Function | Penjelas |
| :-: | :-- |
| dataframe.columns| Daftar kolom pada DataFrame |
| dataframe.info()| Informasi DataFrame, kolom tipe data dsb |
| dataframe.shape| Dimensi DataFrame | 
| dataframe.size()| Jumlah data pada DataFrame |
| dataframe.describe()| menampilkan statistik deskriptif |

#### load titanic

In [ ]:
#contoh kali ini kita akan membaca file titanic.csv
df_titanic = pd.read_csv(link_titanic)

In [ ]:
#kita akan melihat isi 3 file pertama
df_titanic.head(3)

In [ ]:
#kita akan melihat isi 3 file terakhir
df_titanic.tail(3)

In [ ]:
#kita juga bisa menampilkan dataframe dalam format horizontal dengan menggunakan method transpose atau T
df_titanic.head(3).T

In [ ]:
# kita akan mencoba baris secara acak dari dataset
df_titanic.sample(3)

In [ ]:
#kita ingin menampilkan 3 umur tertua
df_titanic.nlargest(3,"Age")

In [ ]:
#kita ingin mengetahui kolom apa saja yang ada pada data titanic
df_titanic.columns

In [ ]:
# kita ingin menampilkan info umum (count dan Dtype) dataset
df_titanic.info()

In [ ]:
# kita akan mencoba melakukan print ukuran dari dataset (baris dan kolom)
df_titanic.shape
#terdapat 891 baris dengan 12 kolom

In [ ]:
# kita akan mencoba melakukan print atas jumlah cell (baris x kolom)
df_titanic.size

In [ ]:
# menghitung count data not null atas satu kolom
print(df_titanic.count())

In [ ]:
# NaN: Not a Number, a missing floating-point value, a special value that is part of the IEEE floating-point specification
# None: A Python Object, None is a Python Object called NoneType
import numpy as np
print(None == None) # comparable
print(np.nan == np.nan) # uncomparable

In [ ]:
# menghitung jumlah baris dataset
len(df_titanic)

In [ ]:
# deskripsi untuk data kuantitatif
df_titanic.describe()

<img src="https://id.nesrakonk.ru/wp-content/uploads/sites/5/2021/03/2021-04-11_17-07-33.png">

In [ ]:
# deskripsi untuk data kualitatif
df_titanic.describe(include=['O'])

In [ ]:
# kita ingin melihat bearapa banyak data yang kosong
df_titanic.isna().sum()

In [ ]:
# kita juga bisa melihat sebaran atas unique value dari suatu kolom
df_titanic['Survived'].value_counts()

In [ ]:
# mengetahui jumlah data unique dari suatu fitur dengan .nunique()
print(df_titanic['Pclass'].unique())
print(df_titanic['Pclass'].nunique())

## Data Selection

### Mengambil sebagian kolom

In [ ]:
#kita bisa menuliskan nama kolom menggunakan df['nama_kolom']
type(df_titanic['Name'])
df_titanic['Name'].head()

In [ ]:
#cara lainnya
df_titanic.Name.head()

In [ ]:
#mengambil lebih dari 1 kolom
df_titanic[['Name','Sex','Survived']].head()

### Mengambil sebagian baris

In [ ]:
# top 4
df_titanic[:4]

In [ ]:
# last 4
df_titanic[-4:]

### Mengambil sebagian baris dan sebagian kolom

In [ ]:
df_titanic[['Name','Sex','Survived']][:5]

### Subset data dengan .Loc() dan .Iloc()

#### .loc

> Memilih baris atau kolom menggunakan **label index**

```python
dataframe1.loc["index_awal":"index_akhir" (baris), "nama_awal":"nama_akhir" (kolom)]
```

In [ ]:
# index 4
df_titanic.loc[4]

In [ ]:
# index 4, kolom Name
df_titanic.loc[4,"Name"]

In [ ]:
# kita akan coba mengakses sampai dengan index ke 4 (baris ke-5)
df_titanic.loc[:4] 
# df_titanic[:5] # sama dengan

In [ ]:
# kita akan coba mengakses index 1 sampai index ke 4 (baris ke-5) 
# mulai dari Kolom 'Pclass' sampai kolom 'Age'
df_titanic.loc[1:4, 'Pclass':'Age']

#### .iloc

> Memilih baris atau kolom menggunakan index (integers).

```python
dataframe1.iloc[start:end (baris), start:end(kolom)]
```

In [ ]:
# mengakses baris index ke 0 sampai 4 dan kolom 1 sampai 5
df_titanic.iloc[0:5, 0:5]

In [ ]:
# mengakses baris index ke 3 sampai 6 dan kolom 1,4,3,2
df_titanic.iloc[3:7, [0,3,2,1]]

In [ ]:
# sampai index ke 9 tapi lompat 1 baris
df_titanic.iloc[:10:2,:5]

### Filtering data

Cara pertama untuk melakukan filter adalah menggunakan ```conditional```.

```python
dataframe1[conditional]

```

Yang kedua menggunakan ```query```.

```python
df.query('20 < Age < 40')[:5]

```

#### Conditional

In [ ]:
# filter untuk penumpang berumur lebih dari sama dengan 22
df_titanic[df_titanic["Age"] >= 22].head(3)

In [ ]:
# filter untuk penumpang berjenis kelamin Male dan berumur lebih dari sama dengan 22
df_titanic[(df_titanic["Age"] >= 22) & (df_titanic["Sex"] == "male")].head(3)

In [ ]:
# filter penumpang dengan Embarked Q atau penumpang dengan Embarked S
df_titanic[(df_titanic.Embarked == "Q") | (df_titanic.Embarked == "S")].head(5)

#### Query

In [ ]:
# kita akan mencoba mengambil Kolom Age 
# dimana nilai "Age" berada di antara 20 dan 40 tahun dan Embarked S
df_titanic.query('20 < Age < 40 and Embarked == "S"')[:3]

#### Latihan 2

1. Ambil data dari titanic.csv dengan kriteria penumpang ```diatas 40 tahun``` dan berjenis kelamin ```Perempuan```

In [ ]:
# jawab disini

2. Hitung penumpang dengan ```kelas = 1``` yang berhasil selamat ```Survived = 1```.

In [ ]:
# jawab disini

## Modifying Dataframe

### Menambahkan Kolom

In [ ]:
df_titanic['Total'] = df_titanic['Fare'] * (df_titanic['SibSp'] + 1)
df_titanic.head(3)

### Menambahkan Baris

In [ ]:
# cek shape before
print("Before", df_titanic.shape)

# add row duplicate last row
df_titanic.loc[len(df_titanic)] = df_titanic.loc[len(df_titanic)-1]

# show result
print("After", df_titanic.shape)
df_titanic.tail(3)

### Merubah Record

In [ ]:
df_titanic.loc[0,'Embarked'] = 'J'
df_titanic.head()

## Sorting Data

> Mengurutkan data berdasarkan valuenya.

Untuk melakukan sorting data pada DataFrame:
1. Hanya satu kolom:
```python
DataFrame.sort_values(by='b', ascending=False)
```
2. Beberapa kolom:
```python
DataFrame.sort_values(["b", "c"], ascending = (False, True))
```

In [ ]:
# kita akan mencoba melakukan sorting pada kolom 'Age' secara Descending
df_titanic.sort_values(by='Age', ascending = False).head()

In [ ]:
# untuk dua atau lebih kolom
df_titanic.sort_values(['Age','Pclass'], ascending = [False,True]).head()

## Data Manipulation

### Drop Row or Columns

In [ ]:
#agar data awal kita tidak rusak maka kita lakukan dengan mencopy df_titanic
df_titanic_copy = df_titanic.copy()
df_titanic_copy.head(3)

In [ ]:
print(id(df_titanic))
print(id(df_titanic_copy))

#### Menghapus Kolom

In [ ]:
# bagaimana jika kita ingin menghapus 2 kolom
df_titanic_copy.drop(['Fare','Cabin'], axis = 1, inplace=True)
df_titanic_copy.head(3)

#### Menghapus Baris

In [ ]:
#menghapus row dengan index 2
df_titanic_copy.drop(index = 2, inplace=True)
# df_titanic_copy.drop(2, inplace=True)
df_titanic_copy.head(3)

In [ ]:
#menghapus row dengan index 1 dan 4
df_titanic_copy.drop(index=[1,4] , inplace=True)
df_titanic_copy.head(3)

In [ ]:
#jika kita ingin melakukan reset index maka kita bisa gunakan reset_index 
df_titanic_copy.reset_index(drop=True, inplace=True)
df_titanic_copy.head()

In [ ]:
#jika kita ingin menghapus baris berdasarkan isinya
#misal kita ingin menghapus yang berumur 22 tahun
#1. kita bisa menggunakna Filtering
df_titanic_copy = df_titanic_copy[df_titanic_copy["Age"] > 22]
df_titanic_copy.head()

In [ ]:
df_titanic_copy[df_titanic_copy["Age"] < 22]

### Missing Values

In [ ]:
#kita copy dlu data df_titanic agar aman
df_titanic_missing = df_titanic.copy()

In [ ]:
#untuk melakukan pengecekan apakah ada missing Value dalam dataset kita maka kita dapat menggunakan (isna/isnull)
df_titanic_missing.isnull().sum()

In [ ]:
df_titanic_missing.shape

#### Clean Missing Values

In [ ]:
#menghapus baris
# how="any" artinya kalau ada 1 saja nilai NA, maka baris itu akan dihapus
# how="all" artinya dalam 1 baris seluruhnya NA, maka baris itu akan dihapus
df_titanic_missing.dropna(how="all", inplace=True)
df_titanic_missing.shape

In [ ]:
df_titanic_missing.isna().sum()

In [ ]:
#kita dapat menghapus seluruh baris nilai NA dengan dropna
df_titanic_missing.dropna(inplace=True)
# df_titanic_missing.dropna(how="any", inplace=True)
df_titanic_missing.shape

In [ ]:
df_titanic_missing.isnull().sum()

#### Imputed Missing Values

In [ ]:
#kita copy dlu data df_titanic agar aman
df_titanic_missing = df_titanic.copy()
df_titanic_missing.isna().sum()

In [ ]:
#terdapat 3 kolom yang memiliki missing value yaitu age, Cabin dan Embarked
df_titanic_missing['Age'] = df_titanic_missing['Age'].fillna(df_titanic_missing['Age'].median())
# bisa diisi nilai lain misal mean atau modus
df_titanic_missing.isna().sum()

In [ ]:
#untuk data Cabin karena categorical maka mari kita isikan data null dengan kosong
df_titanic_missing['Cabin'] = df_titanic_missing['Cabin'].fillna("kosong")
df_titanic_missing.isna().sum()

In [ ]:
df_titanic_missing['Cabin'].value_counts()

In [ ]:
#data embarked adalah data kategorikal, mari kita coba untuk isikan dengan nilai terbanyak
#kita cari tau dulu data apa terbanyak
df_titanic_missing['Embarked'].value_counts()

In [ ]:
#karena S adalah yang terbanyak maka kita bisa isikan data kosong dengan S
df_titanic_missing['Embarked'] = df_titanic_missing['Embarked'].fillna("S")
df_titanic_missing.isna().sum()

### Duplicated Data

In [ ]:
# mengecek duplikasi row data
df_titanic.duplicated().sum()
#jika ada data duplicated kita bisa hapus dengan drop_duplicates

In [ ]:
df_titanic.tail()

In [ ]:
df_titanic.drop_duplicates(keep='last', inplace=True, ignore_index=True)
# ignore_index : if True, the resulting axis will be labeled 0, 1, …, n - 1
# kalau duplicate di kolom nama maka subset=['Name']
df_titanic.tail()

In [ ]:
# mengecek duplikasi tiap kolom
print(df_titanic["Ticket"].duplicated().sum())

df_titanic[df_titanic["Ticket"].duplicated()].sort_values("Ticket").head()

##  Write Data

Untuk menyimpan dataframe dapat menggunakan beberapa fungsi berikut:

```python
dataframe.to_csv()
dataframe.to_excel()
```

In [ ]:
# skenario : df_titanic_missing yang datanya sudah bersih dari missing akan kita simpan untuk dimodelkan

#CSV
df_titanic_missing.to_csv('titanic_imputed.csv', sep="|", index=False)

#Excel
df_titanic_missing.to_excel('titanic_imputed.xlsx',sheet_name='Sheet1',index=False)

##  Menggabungkan Data

> dalam mengolah data terkadang kita butuh menggabungkan data baik secara horizontal (merge) maupun vertikal (Concatenation)

### Concatenate
<img src="https://static.javatpoint.com/tutorial/numpy/images/numpy-concatenate.png">

In [ ]:
#kita coba membuat 2 buah series
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
print(ser1)

In [ ]:
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
print(ser2)

In [ ]:
pd.concat([ser1, ser2])

> diatas tadi sengaja dibuat seriesnya berurut kalo sama bagaimana?

In [ ]:
#kita coba membuat 2 buah series
ser1 = pd.Series(['A', 'B', 'C'])
ser2 = pd.Series(['D', 'E', 'F'])
pd.concat([ser1, ser2])

In [ ]:
#ketika indexnya sama maka indexnya akan berulang
#untuk mengatasinya kita bisa menambahkan ignore_index=True atau setelah jadi df dilakukan reset_index()
df = pd.concat([ser1, ser2], ignore_index=True)
df

In [ ]:
#kita buat 2 dataframe yang berisi nama mahasiswa dan jurusannya
df1 = pd.DataFrame({'Nama': ['Anton', 'Budi', 'Bambang'],
                    'Jurusan': ['Akuntansi', 'Tambang', 'Bisnis']})
df2 = pd.DataFrame({'Nama': ['Susilo', 'Sulastri', 'Jane', 'Samsul'],
                    'Jurusan': ['Pertanian', 'Akuntansi', 'Managemen', 'Seni Rupa']})
display(df1)

display(df2)

In [ ]:
pd.concat([df1, df2], ignore_index=True)

> bagaimana kalo ada kolom yang di tabel berikutnya tidak ada. apakah masih bisa kita gabung?

In [ ]:
#kita buat 2 dataframe
df3 = pd.DataFrame({'Nama': ['Anton', 'Budi', 'Bambang'],
                    'Jurusan': ['Akuntansi', 'Tambang', 'Bisnis'],
                    'Tahun': [2020,2019,2021]})
df4 = pd.DataFrame({'Nama': ['Susilo', 'Sulastri', 'Jane', 'Samsul'],
                    'Jurusan': ['Pertanian', 'Akuntansi', 'Managemen', 'Seni Rupa'],
                    'Tahun_lahir': [2002,2001,2000,2001]})
display(df3)
display(df4)

In [ ]:
#mari kita gabungkan
concatenated = pd.concat([df3,df4], ignore_index=True)
concatenated

### Merge
<img src="https://www.absentdata.com/wp-content/uploads/2019/07/pd.merge-1.png">

In [ ]:
#kita buat 2 dataframe 
df1 = pd.DataFrame({"id": ['001','002','003'],
                    'Nama': ['Anton', 'Budi', 'Bambang'],
                    'Tahun_masuk': [2020,2019,2021]})
df2 = pd.DataFrame({"id": ['001','002','003'],
                    'Jurusan': ['Akuntansi', 'Tambang', 'Bisnis']})
display(df1)
display(df2)

In [ ]:
#kita akan menggabungkan kedua dataframe tersebut dengan menggunakan method .merge
df3 = pd.merge(df1, df2, how="inner", on="id")
df3

* Fungsi `pd.merge()` mengenali bahwa terdapat kolom id yang sama di kedua dataframe sehingga langsung tergabung
* sekarang bagaimana kalo nama kolomnya beda

In [ ]:
#kita buat 2 dataframe 
df1 = pd.DataFrame({"id": ['001','002','003'],
                    'Nama': ['Anton', 'Budi', 'Bambang'],
                    'Tahun_masuk': [2020,2019,2021]})
df2 = pd.DataFrame({"no_mahasiswa": ['001','002','003'],
                    'Jurusan': ['Akuntansi', 'Tambang', 'Bisnis']})
display(df1)
display(df2)

In [ ]:
#kita akan menggabungkan kedua dataframe yang mempunyai nama kolom key yang bebeda
df3 = pd.merge(df1, df2, how="inner", left_on="id", right_on="no_mahasiswa")
df3

In [ ]:
df3.drop("no_mahasiswa", axis=1, inplace=True)
df3

> nb: kalo dia ada 2 key maka bisa ditambahkan ,on=[key1,key2]

#### Merge Method
ada 4 method
- inner
- left
- right
- outer

<img src="https://storage.googleapis.com/kotakode-prod-public/images/b41cac0f-e745-4696-a890-d5f709cc6d7f-join.jpg">

In [ ]:
#kita buat 2 dataframe 
df1 = pd.DataFrame({"id": ['001','002','003','004'],
                    'Nama': ['Anton', 'Budi', 'Bambang','leon'],
                    'Tahun_masuk': [2020,2019,2021,2018]})
df2 = pd.DataFrame({"id": ['001','002','003','005'],
                    'Jurusan': ['Akuntansi', 'Tambang', 'Bisnis','Managemen']})
display(df1)
display(df2)

In [ ]:
#terlihat pada dataframe bahwa ada masing-masing 1 yang tidak memiliki pasangan
#secara default dia pakai inner, data yang tersambung yang akan ditampilkan
hoo = pd.merge(df1,df2)
hoo

In [ ]:
#jika kita ingin menampilkan semuanya maka gunakan outer
hoo = pd.merge(df1,df2, how='outer')
hoo

In [ ]:
#jika kita ingin menampilkan data sebelah kiri full
hoo = pd.merge(df1,df2, how='left')
hoo

In [ ]:
#jika kita ingin menampilkan data sebelah kanan full
hoo = pd.merge(df1,df2, how='right')
hoo

### Group By

> terkadang kita membutuhkan data yang sudah di grouping. cara yang ditawarkan pandas adalah dengan method .groupby

In [ ]:
# mari kita buka data populasi amerika
# df_amerika = pd.read_csv('america_population.csv')

df_amerika = pd.read_csv(link_population)
print(df_amerika.shape)
df_amerika.head()

In [ ]:
#kita akan melakukan grouping terhadap jumlah populasi berdasarkan state
#kita cek terlebih dahulu ada berapa state
df_amerika["usps"].nunique()

In [ ]:
df_amerika[df_amerika["usps"] == "NY"].head()

In [ ]:
df_amerika.groupby('usps').mean()

In [ ]:
#kita akan grouping dengan method .groupby
df_new = df_amerika.groupby('usps').agg({"pop2022":["sum","min"],"pop2010":"max"})
df_new.head()

# Basic Visualization with Pandas

In [ ]:
df_titanic.head()

In [ ]:
df_titanic.plot(kind='scatter', x='Age', y='Fare')

In [ ]:
df_titanic["Age"].plot(kind='hist', bins=8)